extends layout

block content
  h1= title
  p Welcome to #{title}
  if show
    form(method ="post") 
      p Jaka jest Twoja ulubiona pora roku?
        ul
          each item in data 
            li
              label=item.title 
              input(type="radio" name="quiz" value = item._id)
      input(type="submit" value="Zagłosuj")
  else 
    h1 zagłosowałeś
    p wyniki
    ul
    each item in data
      li #{item.title} #{item.vote}